#outer {
    width: 500px;
    height: 500px;
    background-color: brown;
  }
  
  #inner {
    width: 400px;
    height: 400px;
    background-image: url(https://png.pngtree.com/png-clipart/20221009/ourmid/pngtree-velociraptor-dinosaur-png-image_6293751.png);
    background-repeat: no-repeat;
    background-size: contain;
  }